/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
.nav-label {
  color: white;
  cursor: pointer;
}

.nav-label:hover {
  text-decoration: underline;
}

/* Home */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.card {
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.checked {
  color: orange;
}
