@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 400;
    font-display: swap;
    src: url(../../public/fonts/Roboto-Medium.woff2) format('woff2');
  }
}

.iteneraryHeader {
  align-items: center;
  text-align: center;
}

.iteneraryInfo {
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  text-align: left;
  background-color:white;
  margin-bottom: 20px;
}

.itineraryItemsBackground {
  background-image: url("../../public/Images/polygrid.png");
  /* background-color:rgba(190, 229, 255, 1);  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.addButton {
  margin-top: 20px;
  font-size: 80px;
  min-height: 15vh;
  min-width: 7.5vw;
  max-width: 7.5vw;
  max-height: 15vh;
  color:rgb(0, 0, 0);
  opacity: 0.9;
  width: max-content;
}
.closeButton {
  color: black;
}
.backButton {
  display: flex;
  background-image: url('../../public/back.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(180, 229, 255);
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
  font-weight:600;
  height: 60px;
  width: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item-div {
  margin-top: 20px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.654);
  backdrop-filter: blur(5px);
}
.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-overflow: clip;
  overflow: hidden;
}
.doneButton {
  font-size: 20px;
  font-weight:600;
  width: 85px;
  height: 40px;
  margin-bottom: 20px;
  color: white;
  margin-left: 20px;
  margin-top: 30px;

}
.saveButton {
  font-size: 40px;
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-width: thin;
  border-color: lightgray;
  border-style: solid;
  margin-bottom: 20px;
}

.modal-content {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-form {
  outline: none;
}

.custom-form {
  outline: none;
}

.custom-form .md\:space-x-4 > * + * {
  margin-left: 1rem; /* Adjust as needed */
}

.linkClass {
  /* margin-top: 0.1vh; */
  /* margin-bottom: 0.5vh; */
  margin-left: 0.05vw;
  /* margin-right: 0.5vh; */
  min-height: 49.2vh;
  min-width: 29.625vw;
  max-height: 49.2vh;
  max-width: 29.625vw;
}