
.iteneraryHeader {
}
.iteneraryInfo {
  margin-top: 40px;
  align-items: center;
  text-align: left;
  background-color:white;
  margin-bottom: 20px;
}

.addButton {
  margin-top: 20px;
  font-size: 180px;
  min-height: 50vh;
  min-width: 30vw;
  max-height: 50vh;
  max-width: 30vw;
  width: max-content;
  background-color: rgba(173, 216, 230, 0.5);
}
.iteneraries-grid {
}
.closeButton {
  color: black;
}
.button-div {

}
.item-div {
  margin-top: 20px;
  font-size: 25px;
  min-height: 50vh;
  min-width: 30vw;
  max-height: 50vh;
  max-width: 30vw;
  width: max-content;
  background-color: rgba(173, 216, 230, 0.5);
}
.doneButton {
  font-size: 20px;
  font-weight:600;
  width: 85px;
  height: 40px;
  margin-bottom: 20px;
  color: white;
  margin-left: 20px;
  margin-top: 30px;

}
.saveButton {
  font-size: 40px;
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-width: thin;
  border-color: lightgray;
  border-style: solid;
  margin-bottom: 20px;
}

.modal-content {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-form {
  outline: none;
}

.custom-form {
  outline: none;
}

.custom-form .md\:space-x-4 > * + * {
  margin-left: 1rem; /* Adjust as needed */
}

.linkClass {
  /* margin-top: 0.1vh; */
  /* margin-bottom: 0.5vh; */
  margin-left: 0.05vw;
  /* margin-right: 0.5vh; */
  min-height: 49.2vh;
  min-width: 29.625vw;
  max-height: 49.2vh;
  max-width: 29.625vw;
}