.Itenerary-div {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: blue;
    background-color: grey;
    max-width: 100%;
    min-height: 1000px;
  }
.iteneraryHeader {
}
.iteneraryInfo {
  margin-top: 40px;
  align-items: center;
  text-align: left;
  background-color:white;
  height: 500px;
  min-height: 80vh;
  max-height: fit-content;
}
.emailLabel {
  margin-left: 20px;
  padding: 20px, 20px, 20px, 20px;
  text-align: left;
}
.emailInput {
  justify-content: center;
  align-items: center;
  text-align: left;
  align-content: center;
}
.addButton {
  background-color: antiquewhite;
  font-size: 180px;
  min-height: 20vh;
  min-width: 20vw;
  width: max-content;
}
.iteneraries-grid {
  min-height: 20px;
}
.closeButton {
  color: black;
}
.button-div {

}
.item-div {
  background-color: antiquewhite;
  font-size: 180px;
  min-height: 20vh;
  min-width: 20vw;
  width: max-content;
}
.doneButton {
  font-size: 20px;
  color: black;
  background-color: white;
  width: 110px;
  height: 40px;
}