faiss-cpu==1.8.0.post1
huggingface-hub==0.24.6
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4
sentence-transformers==3.0.1
torch==2.4.1
transformers==4.44.2
python-dotenv==1.0.1 
flask==2.3.2
sentencepiece==0.2.0
tokenizers==0.19.1