@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */

/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}*/

:root {
  --background-light: #f5f5f5; /* Light mode background color */
  --background-dark: #333; /* Dark mode background color */
}

.text-2xl.font-bold.mb-4.text-center
{
  color:white;
}

@keyframes fly-diagonal {
  from {
    left: -10%;
    top: -10%;
  }
  to {
    left: 110%;
    top: 110%;
  }
}

@keyframes move-clouds {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}

.plane-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  animation: fly-diagonal 15s linear infinite;
}

.posts-container {
  position: relative;
  background: url('/Images/peakpx.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the animated plane (if needed) */
.plane-animation {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  /* Remove animation if not needed */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}

.container.mx-auto.p-4
{
  color:black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-light); /* Use CSS variable for background color */
  color: var(--text-color); /* Ensure text color is updated based on the theme */
}

/* Update background color based on the theme */
[data-theme='dark'] body {
  background-color: var(--background-dark);
  color: white; 
  --text-color-dark: #ccc;
}

.text-2xl.font-bold.mb-4.text-center {
  color: var(--text-color-light); /* Default to light theme text color */
}

[data-theme='dark'] .text-2xl.font-bold.mb-4.text-center {
  color: var(--text-color-dark);
}

.text-gray-700{
  color: var(--text-color-dark); /* Use dark mode font color */
}

.image-label {
  color: black; /* Use light mode font color */
}

.card.max-w-sm.rounded.overflow-hidden.shadow-lg.flex.flex-col.items-center.p-4
{
  background-color: #fff;
}

.text-center.text-gray-700.mb-4
{
  color: black;
}
.image-description
{
  color:black;
}
.image-label
{
  color:black;
}

.navigation-buttons
{
  color:black;
}


/*DESTINATION*/
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Change from space-between to space-around */
  gap: 20px;
}

.card {
  flex: 0 1 calc(30% - 20px);
  max-width: calc(30% - 20px);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* Add this to ensure the cards stay in a row */
  flex-basis: 30%; /* Set the initial size of the flex item */
}

.title {
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.moreInfoButton {
  transition: background-color 0.3s;
}

.favoriteButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.checked {
  color: orange;
}


/* HOME*/
/* HOME*/
/* .max-w-sm:hover {
  transform: translateY(-5px); 
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; 
}

.no-underline a {
  text-decoration: none;
  color: inherit;
} */


/* Search  */
.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.search-subtitle {
  margin-bottom: 2rem;
}

.search-button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button-selected {
  border-color: #0070f3;
  background-color: #e0f3ff;
}

.search-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-input {
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  outline: none;
  flex: 1;
}

.search-button-submit {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ccc;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  outline: none;
}

/*ACCOUNT*/
/*ACCOUNT*/

.account-container {
  max-width: 800px;
  margin: 90px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content inside the container */
}

.account-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.account-profile {
  display: flex;
  align-items: center;
}

.account-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.account-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.account-profile-details {
  flex: 1;
}

.account-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.account-email {
  font-size: 1.5rem;
  color: #666;
}

.account-location,
.account-member-since {
  font-size: 1.2rem;
  color: #666;
}

.account-actions {
  display: flex;
  align-items: center;
}

.edit-profile-button {
  padding: 0.5rem 1rem;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-profile-button:hover {
  background-color: #005f91;
}

.account-content {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}

.info-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.info-description {
  line-height: 1.6;
}

.account-buttons {
  margin-top: 1rem;
}

.account-button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.account-button:hover {
  background-color: #005f91;
}

/*REVIEWS=> HOME*/
.review-container {
  text-align: center;
  margin-top: 1rem;
}

.review-button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.review-button:hover {
  background-color: #909090; /* Darken the color on hover */
}

.reviews {
  margin-top: 1rem;
  text-align: left;
}

.review-list {
  margin-bottom: 1rem;
}

.review-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.review-item {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.review-input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.submit-review {
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-review:hover {
  background-color: #218838;
}

.rating-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

/*IMAGE SLIDER*/


.image-slider-container {
  background-color: #ffffff; 
  margin: 20px auto; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.image-slider {
  position: relative; 
  overflow: hidden; 
}

.image-container {
  display: flex; 
  transition: transform 0.5s ease; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  opacity: 0; 
  transition: opacity 0.5s ease; /* Smooth transition for image opacity */
}

.image-container img.active {
  opacity: 1; 
}

.button {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: none; 
  cursor: pointer;
  font-size: 1.5rem; 
}

.prev {
  left: 0; 
}

.next {
  right: 0; 
}
.image-label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.image-description{
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*Destination modal*/
.modal {
  display: none;
  /* Add other styles as needed */
  color:black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  padding: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.font-bold {
  font-weight: bold;
}


/* home */
/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Destination card styles */
.destination-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.destination-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.destination-card-content {
  padding: 20px;
}

.destination-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.destination-card-description {
  font-size: 16px;
  color: #666;
}

/* Button styles */
.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Home component styles */

.destination-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.destination-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.destination-card-content {
  padding: 20px;
}

.destination-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.destination-card-description {
  font-size: 16px;
  color: #666;
}

/* EXTRA INFO PAGE */
.container {
  display: grid;
  grid-template-areas: 
    "photos-section"
    "info-section"
    "attractions-section"
    "reviews-section";
  gap: 20px;
  padding: 20px;
  align-items: center;
  text-align: center;
  
}

.photos-section {
  grid-area: photos-section;
  display: flex;
  align-items: flex-start; 
  background-color:#d6d6d6;
  border-radius: 8px;
  padding: 10px;
}

.small-photos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  margin-left: 10px;
}

.main-photo {
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 8px;
}
.second-photo{
  margin-top: 45px;
  border-radius: 8px;
  margin-right: 30px;

}
.info-section {
  grid-area: info-section;
  display: flex;
  justify-content: space-between;
  
}

.google-street-view, .google-maps-api {
  flex: 1;
  padding: 20px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color:#d6d6d6;
  border-radius: 8px;
}
.google-street-view,
.google-maps-api {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.google-street-view h1,
.google-maps-api h1 {
  margin-right: 20px;
}

.attractions-section {
  grid-area: attractions-section;

  padding: 20px;
  background-color:#d6d6d6;
  border-radius: 8px;
  text-align: center;
}
.attractions-section h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: large
}
.reviews-section {
  grid-area: reviews-section;
   padding: 20px;
  background-color:#d6d6d6;
  border-radius: 8px;
  text-align: center;
}
.reviews-section h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: large
}

.google-street-view iframe,
.google-maps-api iframe {
 
  border-radius: 8px;
}

/* NEW HOME STYLING */

@keyframes gentlePulse {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}

.gentle-pulse {
  animation: gentlePulse 2s infinite;
}
