@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/*DESTINATION*/
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Change from space-between to space-around */
  gap: 20px;
}

.card {
  flex: 0 1 calc(30% - 20px);
  max-width: calc(30% - 20px);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* Add this to ensure the cards stay in a row */
  flex-basis: 30%; /* Set the initial size of the flex item */
}
.title {
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.favoriteButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.checked {
  color: orange;
}

/* HOME*/
/* HOME*/
.max-w-sm:hover {
  transform: translateY(-5px); 
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; 
}


/* Search  */
.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.search-subtitle {
  margin-bottom: 2rem;
}

.search-button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button-selected {
  border-color: #0070f3;
  background-color: #e0f3ff;
}

.search-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-input {
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  outline: none;
  flex: 1;
}

.search-button-submit {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ccc;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  outline: none;
}

/*ACCOUNT*/
/*ACCOUNT*/

.account-container {
  max-width: 800px;
  margin: 90px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content inside the container */
}

.account-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.account-profile {
  display: flex;
  align-items: center;
}

.account-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.account-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.account-profile-details {
  flex: 1;
}

.account-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.account-email {
  font-size: 1.5rem;
  color: #666;
}

.account-location,
.account-member-since {
  font-size: 1.2rem;
  color: #666;
}

.account-actions {
  display: flex;
  align-items: center;
}

.edit-profile-button {
  padding: 0.5rem 1rem;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-profile-button:hover {
  background-color: #005f91;
}

.account-content {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}

.info-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.info-description {
  line-height: 1.6;
}

.account-buttons {
  margin-top: 1rem;
}

.account-button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.account-button:hover {
  background-color: #005f91;
}

/*REVIEWS=> HOME*/
.review-container {
  text-align: center;
  margin-top: 1rem;
}

.review-button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.review-button:hover {
  background-color: #909090; /* Darken the color on hover */
}

.reviews {
  margin-top: 1rem;
  text-align: left;
}

.review-list {
  margin-bottom: 1rem;
}

.review-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.review-item {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.review-input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.submit-review {
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-review:hover {
  background-color: #218838;
}

.rating-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

/*IMAGE SLIDER*/


.image-slider-container {
  background-color: #ffffff; 
  margin: 20px auto; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.image-slider {
  position: relative; 
  overflow: hidden; 
}

.image-container {
  display: flex; 
  transition: transform 0.5s ease; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  opacity: 0; 
  transition: opacity 0.5s ease; /* Smooth transition for image opacity */
}

.image-container img.active {
  opacity: 1; 
}

.button {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: none; 
  cursor: pointer;
  font-size: 1.5rem; 
}

.prev {
  left: 0; 
}

.next {
  right: 0; 
}
.image-label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.image-description{
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*Destination modal*/
.modal {
  display: none;
  /* Add other styles as needed */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

